.header{
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background-color: rgb(246, 246, 246);
}
.nav a {
    font-size: 1.1rem;
    color: black;
    margin-left: 2rem;
}
.nav img{
    margin: auto;
}
.nav a:hover {
    color: red;
    cursor: pointer;
}
.adjust{
    margin-left: 9rem;
    font-weight: 500;
    padding: 17px;
}
.btn button{
    background-color: red;
    border: 0px;
    color: white;
    font-weight: 500;
    font-family: inherit;
    font-size: 100%;
    border-radius: 30px;
    opacity: 1;
    line-height: inherit;
    display: flex;
}
