.header{
    display: inline-flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 9%;
    background-color: rgb(246, 246, 246);
}
.logo{
    padding-left: 0px;
}
.nav a {
    font-size: 1.1rem;
    color: black;
    margin-left: 2rem;
    text-decoration: none;
}
.nav a:hover {
    color: red;
    cursor: pointer;
}
.adjust{
    margin-left: 9rem;
    font-weight: 700;
    padding: 2px;
    align-items: center;
}
.sec1{
    display: flex;
    margin-bottom: 0px;
    background-color: rgb(246, 246, 246);
}
#secbtn{
    border: 0px;
    background-color: red;
    color: white;
    opacity: 1;
    border-radius: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
}
.mission{
    padding: 155px;
    padding-left: 15px;
    padding-bottom: 180px;
}
.mission h1{
    font-weight: 800;
    margin-bottom: 20px;
    margin-top: 50px;
}
.mission p{
    font-size: medium;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sec1 img{
    padding-right: 70px;
    padding-bottom: 50px;
}
.services{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.choose{
    display: flex;
    padding: 10px;
}
.us{
    padding-left: 100px;
}

.all{
    text-align: center;
    margin: 20px;
    padding: 10px;
    cursor: pointer;
}
.about{
    padding: 20px;
    margin: 20px;
    display: flex;
   
}
.form{
    float: left;
    padding: 35px;
}
footer a{
    text-decoration: none;
}
footer{
    background-color:rgb(246, 246, 246);
    margin: 15px;
    padding: 15px;
    width: auto;
}


